.DetailsPage {
  background-color: #2e2e2e;
  .trailer {
    height: 90vh;
  }

  h2 {
    @include titulo;
    color: rgb(250, 250, 250);
  }
  h3 {
    @include titulo;
    color: rgb(194, 194, 194);
  }
  h4 {
    @include subtitulo;
    color: rgb(194, 194, 194);
  }
  p {
    @include parrafo;
    color: rgb(194, 194, 194);
  }

  img {
    width: 70%;
  }
  .imgNotFound {
    width: 70%;
    height: 30vh;
  }
  .actorsNotFound {
    width: 80%;
    height: 30vh;
  }
  .similarShowsNotFound {
    width: 80%;
    height: 100vh;
  }
  .overviewNotFound{
    width: 100%;
    height: 15vh;
  }
  .rating{
    color: rgb(255, 187, 0);
    font-size: 2rem;
  }
  .genreBtn{
    border: none;
    background-color: rgb(92, 104, 122);
    color: white;
  }
}
