// mixins
@mixin parrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: rgb(82, 82, 82);
}

@mixin subtitulo {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(73, 73, 73);
}

@mixin titulo {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(73, 73, 73);
}
// variables
