.HomePage {
  .rowForm {
    height: 90vh;
  }
  h2{
    @include titulo;
    font-weight: 500;
    border-bottom: solid 2px rgb(112, 112, 112)
    
  }
  .sort{
    border-radius: 2rem  ;
    -webkit-border-radius: 2rem  ;
    -moz-border-radius: 2rem  ;
    -ms-border-radius: 2rem  ;
    -o-border-radius: 2rem  ;
}
.sort2{
  border-radius: 2rem  ;
  -webkit-border-radius: 2rem  ;
  -moz-border-radius: 2rem  ;
  -ms-border-radius: 2rem  ;
  -o-border-radius: 2rem  ;
  
}
  .boton{
    @include boton
  }
  .numero{
    @include numero;
    color: black;
  }
}
