.PopularPage {
  h2 {
    @include titulo;
    font-weight: 500;
    border-bottom: solid 2px rgb(112, 112, 112);
  }
  .boton {
    @include boton;
  }
  .numero {
    @include numero;
    color: black;
  }
}
